@model Knowledge_Management.Areas.User.ViewModels.FullSolutionViewModel

@{
    ViewBag.Title = "View Solution Details";
    Layout = "~/Areas/Admin/Views/Shared/_ManagementLayout.cshtml";
}

<div class="col-xs-11 col-xs-offset-1 top_buffer20 nopadding">
    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingOne">
                <h6 class="panel-title">
                    <a role="button" class="accordion-toggle" data-toggle="collapse" href="#collapseQuestion" aria-expanded="true" aria-controls="collapseOne">
                        <i class="glyphicon glyphicon-chevron-down indicator"></i>@Html.LabelFor(model => model.question)
                    </a>
                </h6>
            </div>
            <div id="collapseQuestion" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                <div class="panel-body">
                    @Html.DisplayFor(model => model.question)
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingTwo">
                <h6 class="panel-title">
                    <a role="button" class="accordion-toggle" data-toggle="collapse" href="#collapseSolution" aria-expanded="true" aria-controls="collapseOne">
                        <i class="glyphicon glyphicon-chevron-down indicator"></i>@Html.LabelFor(model => model.full_solution)
                    </a>
                </h6>
            </div>
            <div id="collapseSolution" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                <div class="panel-body">
                    @Html.DisplayFor(model => model.full_solution)

                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingThree">
                <h4 class="panel-title">
                    <a class="collapsed accordion-toggle" role="button" data-toggle="collapse" href="#collapseUpload" aria-expanded="false" aria-controls="collapseTwo">
                       <i class="glyphicon glyphicon-chevron-up indicator"></i>@Html.LabelFor(model => model.uploads)
                    </a>
                </h4>
            </div>
            <div id="collapseUpload" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingThree">
                <div class="panel-body">

                    <div class="col-xs-12 top_buffer10">
                        <div class="alert alert-success" role="alert" style="display:none" id="div_alert">
                            <a href="#" class="close" id="close_alert">&times;</a>
                            <label id="alert_success"></label>
                        </div>
                    </div>

                    <div class="col-xs-12 top_buffer10 ">
                        <table id="UploadDT" class="display">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>FilePath</th>
                                    <th>#</th>
                                    <th>File Upload</th>
                                    <th>Confirm Status</th>
                                    <th>Download</th>
                                    <th>Confirm/ Reject</th>
                                    <th>Delete</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>

    </div>
</div>


    @Html.HiddenFor(model => model.solution_id, new { id = "hd_id_solution" })



    @section scripts{
        <script src="~/Areas/Admin/Scripts/ViewUploadDT.js"></script>
    }
