@using Knowledge_Management.ViewModels
@model SearchKeywordViewModel
@{
    ViewBag.Title = "کلیدواژه ها";
    Layout = "~/Views/Shared/_EmployeeLayout.cshtml";
}


<h5>لیست تمام کلیدواژه های جستجو</h5>
<span class="border_admin" style="margin-bottom:0;"></span>


<div style="float:right; width:100%;margin-top:5%">


    <div class="editor-field" style="width:8%;">
        @Html.LabelFor(model => model.lst_strategy)
    </div>
    <div class="editor-field" style="width:20%;">
        @Html.DropDownListFor(model => model.strategy_id, new SelectList(Model.lst_strategy, "Value", "Text")
                  , "همه موارد", new { @class = "form-control", id = "dropdown_strategy" })
    </div>

    <div class="editor-label" style="width:12%;">
        @Html.LabelFor(model => model.lst_dep_objective)
    </div>
    <div class="editor-field" style="width:20%;">
        @Html.DropDownListFor(model => model.dep_obj_id, new SelectList(Model.lst_dep_objective, "Value", "Text")
           , "همه موارد", new { @class = "form-control", id = "dropdown_dep_Objective" })
    </div>

    <div class="editor-label" style="width:7%;">
        @Html.LabelFor(model => model.lst_job_desc)
    </div>
    <div class="editor-field" style="width:20%;">
        @Html.DropDownListFor(model => model.job_desc_id, new SelectList(Model.lst_job_desc, "Value", "Text")
                     , "همه موارد", new { @class = "form-control", id = "dropdown_jobDesc" })
    </div>


</div>


<div style="float:right; width:100%; margin:2% 40% 2% 0">

    <div class="col-xs-2" style="width:200px">
        <input type="button" class="btn btn-primary" value="جستجو" id="search_btn" />
    </div>
</div>


<table id="KeywordDT" class="display">
    <thead>
        <tr>
            <th>ID</th>
            <th>DepObj_Id</th>
            <th>JobDesc_Id</th>
            <th>Strategy_Id</th>
            <th >#</th>
            <th >کلیدواژه</th>
            <th>جزئیات</th>
            <th>مشاهده مسائل</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>

@section scripts{
    <script src="~/Scripts/Datatables/KeywordDT.js"></script>
}






