@model Knowledge_Management.Areas.Admin.ViewModels.DetailQuestionViewModel
@{
    ViewBag.Title = "Question by Details";
    Layout = "~/Areas/Admin/Views/Shared/_ManagementLayout.cshtml";
}


<div class="col-xs-12 top_buffer50">
    <div class="col-xs-1 nopadding top_buffer10" style="width:150px">
        @Html.LabelFor(model => model.lst_dep, new { @class = "div_lable" })
    </div>
    <div class="col-xs-3 nopadding">
        @Html.DropDownListFor(model => model.dep_id, new SelectList(Model.lst_dep, "Value", "Text")
            , new { @class = "form-control", id = "dropdown_department" })
    </div>

    <div class="col-xs-1 col-xs-offset-1 top_buffer10" style="width:140px">
        @Html.LabelFor(model => model.lst_job, new { @class = "div_lable" })
    </div>
    <div class="col-xs-3 nopadding">
        @Html.DropDownListFor(model => model.job_id, new SelectList(Model.lst_job, "Value", "Text")
                     , new { @class = "form-control", id = "dropdown_job" })
    </div>

</div>

<div class="col-xs-12 top_buffer20">
    <div class="col-xs-1 nopadding top_buffer10" style="width:150px">
        @Html.LabelFor(model => model.lst_dep_objective, new { @class = "div_lable" })
    </div>
    <div class="col-xs-3 nopadding">
        @Html.DropDownListFor(model => model.dep_obj_id, new SelectList(Model.lst_dep_objective, "Value", "Text")
           , "----", new { @class = "form-control", id = "dropdown_dep_Objective" })
    </div>

    <div class="col-xs-1 col-xs-offset-1 top_buffer10" style="width:140px">
        @Html.LabelFor(model => model.lst_job_desc, new { @class = "div_lable" })
    </div>
    <div class="col-xs-3 nopadding">
        @Html.DropDownListFor(model => model.job_desc_id, new SelectList(Model.lst_job_desc, "Value", "Text")
            , "----", new { @class = "form-control", id = "dropdown_jobDesc" })
    </div>

</div>
<div class="col-xs-12 top_buffer20">

    <div class="col-xs-1 nopadding top_buffer10" style="width:150px">
        @Html.LabelFor(model => model.lst_strategy, new { @class = "div_lable" })
    </div>
    <div class="col-xs-3 nopadding">

        @Html.DropDownListFor(model => model.strategy_id, new SelectList(Model.lst_strategy, "Value", "Text")
         , "----", new { @class = "form-control", id = "dropdown_strategy" })
    </div>
 

</div>

<div class="col-xs-3 col-xs-offset-5 top_buffer20">
    <input type="button" class="btn btn-primary" value="View Questions" id="btn_view_Question" />
</div>

<div class="col-xs-12 top_buffer10 nopadding ">
    <table id="SearchQuestionDT" class="display">
        <thead>
            <tr>
                <th>ID</th>
                <th>Keywords</th>
                <th>job_Desc</th>
                <th>dep_Obj</th>
                <th>Strategy</th>
                <th>fullQuestion</th>
                <th>writer</th>
                <th>#</th>
                <th>Question</th>
                <th>Details</th>
                <th>Solutions</th>
                <th>Delete</th>

            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>

@section scripts{
    <script src="~/Areas/Admin/Scripts/DetailEntryDT.js"></script>
}
