@model Knowledge_Management.Areas.Admin.ViewModels.DepartmentViewModel

@{
    ViewBag.Title = "Organization Departments";
    Layout = "~/Areas/Admin/Views/Shared/_ManagementLayout.cshtml";
}



<div class="col-xs-12 top_buffer10">
    <div class="alert alert-success" role="alert" style="display:none" id="div_alert">
        <a href="#" class="close" id="close_alert">&times;</a>
        <label id="alert_success"></label>
    </div>
</div>

@using (Ajax.BeginForm("Add_Edit_Department", "Department"
                    , new AjaxOptions
                    {
                        InsertionMode = InsertionMode.ReplaceWith,
                        HttpMethod = "Post",
                        OnSuccess = "SuccessMessage"
                    }, new { @id = "frmDepartment" }))
{


    @Html.AntiForgeryToken()

    <div class="col-xs-12 top_buffer20">
        <div class="col-xs-1 nopadding top_buffer10" style="width:125px">
            @Html.LabelFor(model => model.dep_name, new { @class = "div_lable" })
        </div>


        <div class="col-xs-6 nopadding">
            @Html.TextBoxFor(model => model.dep_name, new { @class = "form-control", id = "txt_dep_name" })
            @Html.ValidationMessageFor(model => model.dep_name, "", new { @class = "error" })
        </div>

        <div class="col-xs-2">
            <input type="submit" class="btn btn-primary" value="Submit" />
        </div>

        <div class="col-xs-2">
            <input type="button" class="btn btn-primary" value="Refresh" id="reset_btn" />
        </div>
    </div>
    @Html.HiddenFor(model => model.dep_id, new { id = "hd_id_department" })



        }

        <div class="col-xs-12 top_buffer50 nopadding ">

            <table id="departmentDT" class="display">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>#</th>
                        <th>Department Name</th>
                        <th>Department Objectives</th>
                        <th>Edit</th>
                        <th>Delete</th>

                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>

        @section scripts{
            <script src="~/Areas/Admin/Scripts/DepartmentDT.js"></script>
        }


