@model Knowledge_Management.ViewModels.StrategyViewModel

@{
    ViewBag.Title ="Organization Strategy";
    Layout = "~/Views/Shared/_ManagementLayout.cshtml";
}


<!-- Modal -->
<div class="modal fade" id="DeleteModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content" id="confirm-container">

        </div>
    </div>
</div>
<!-- /end Modal -->


    @using (Ajax.BeginForm("Add_Edit_Strategy", "Strategy"
                    , new AjaxOptions
                    {
                        InsertionMode = InsertionMode.ReplaceWith,
                        HttpMethod = "Post"
                        ,
                        OnSuccess = "SuccessMessage"
                    }, new { @id = "frmStrategy" }))
    {

        @Html.AntiForgeryToken()


        <div class="col-xs-12 top_buffer20">
            <div class="col-xs-2 nopadding top_buffer10">
                @Html.LabelFor(model => model.strategy_name, new { @class = "div_lable" })
            </div>


            <div class="col-xs-6 nopadding" >
                @Html.TextBoxFor(model => model.strategy_name, new { @class = "form-control", id = "txt_st_name" })
                @Html.ValidationMessageFor(model => model.strategy_name, "", new { @class = "error" })
            </div>

            <div class="col-xs-2">
                <input type="submit" class="btn btn-primary" value="Submit" />
            </div>

            <div class="col-xs-2">
                <input type="button" class="btn btn-primary" value="Refresh" id="reset_btn" />
            </div>
        </div>
        @Html.HiddenFor(model => model.strategy_id, new { id = "hd_id_strategy" })

    <div class="col-xs-12 top_buffer10">
        <div class="alert alert-success" role="alert" id="div_alert" style="display:none">
            <a href="#" class="close" id="close_alert">&times;</a>
            <label id="alert_success"></label>
        </div>
    </div>

        }

<div class="col-xs-12 top_buffer10 nopadding ">
    <table id="strategyDT" class="display ">
        <thead>
            <tr>
                <th>ID</th>
                <th>#</th>
                <th>Strategy Description</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>

    @section scripts{
        <script src="~/Scripts/Datatables/StrategyDT.js"></script>
    }

