<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" , initial-scale= "1.0" />
    <title>شرکت تبلور دانش چهلستون - @ViewBag.Title</title>

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    @RenderSection("HeadSection", false)

</head>
<body>
    <div class="container">
        <div class="row">
           
          <img src="~/img/new_header.jpg" alt="" class="header_img" />

        </div>
            
    </div>

  
                @RenderBody()
        
    
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/jqueryval")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)
</body>
</html>
