@using Knowledge_Management.ViewModels
@model SolutionViewModel
@{

    ViewBag.Title = "راهکارهای مسئله";
    Layout = "~/Views/Shared/_EmployeeLayout.cshtml";
}


<h5>راهکارهای مسئله</h5>
<span class="border_admin" style="margin-bottom:0;"></span>


<div style="float:right; width:100%; margin-top:2%; ">

    <div class="field_title" style="width:8%">
        @Html.LabelFor(model => model.question)
    </div>

    <div class="field_title" style="width:85%;margin-top:2px">
        @Html.DisplayFor(model => model.question)
    </div>
</div>
@using (Ajax.BeginForm("Add_New_Solution", "Solution"
                    , new AjaxOptions
                    {
                        InsertionMode = InsertionMode.ReplaceWith,
                        HttpMethod = "Post",
                        OnSuccess = "SuccessMessage"
                    }))
{
    @Html.AntiForgeryToken()


@Html.HiddenFor(model => model.question_id, new { id = "hd_id_question" })

<div style="float:right; width:100%; ">

    <div class="editor-field" style="width:8%;">
        @Html.LabelFor(model => model.new_solution)
    </div>

    <div class="editor-field" style="width:89%;">
        @Html.TextAreaFor(model => model.new_solution, new { @class = "multiline_textbox", id = "txt_new_solution" })
    </div>
</div>

<div style="float:right; width:100%; margin-bottom:3%">

    <div class="btn_add" style="margin-right:85%">
        <input type="submit" class="btn btn-primary" value="ثبت" />
    </div>
</div>

    <label class="alert-danger" id="alert_success"></label>
}
   
<div style="float:right; width:100%; margin-top:2%">
    
        @{
            int i=1;
            foreach (var item in Model.solutions)
            {
                <div class="editor-field" style="width:95%;">
                  @Html.DisplayFor(m=>i )- @Html.DisplayFor(m => item)
                </div>
                <hr />  
                i++;
            }
        }
    </div>

@section scripts{

        <script type="text/javascript">
            var SuccessMessage = function (result) {
            if (result.msg) {
                $("#alert_success").html(result.msg);
                $("#txt_new_solution").val("");
            }
             if (result.url) {
                        // if the server returned a JSON object containing an url
                        // property we redirect the browser to that url
                        window.location.href = result.url;
                    }
            }

            </script>
}