<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" , initial-scale= "1.0" />
    <title>@ViewBag.Title</title>

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    @RenderSection("HeadSection", false)

</head>
<body>
    <div class="container">
        <div class="row">
            <nav class="navbar navbar-inverse navbar-fixed-top" style="padding-right:10px">
                <div class="navbar-brand"><i class="glyphicon glyphicon-home"></i>    
                    @Html.ActionLink("Knowledge Management System", "Index", "Home")</div>

                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div class="navbar-collapse collapse navbar-right">
                    <ul class="nav navbar-nav">
                        <li><a href="#" class="showlogin">Login</a></li>
                        <li><a href="#" class="showAbout">About Us</a></li>
                        <li><a href="#" class="showContact">Contact Us</a></li>

                    </ul>
                </div>
            </nav>

        </div>
            
    </div>
    <img src="~/img/new_header.jpg" alt="" class="header_img" />

  
                @RenderBody()
        
    
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/jqueryval")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)
</body>
</html>
