@using Knowledge_Management.ViewModels
@model QuestionViewModel
@{

    ViewBag.Title = "ورود اطلاعات و دانش ضمن خدمت";
    Layout = "~/Views/Shared/_EmployeeLayout.cshtml";
 }

<!-- Modal -->
<div class="modal fade" id="DeleteModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content" id="confirm-container">

        </div>
    </div>
</div>
<!-- /end Modal -->

<h5>ورود اطلاعات و دانش ضمن خدمت</h5>
<span class="border_admin" style="margin-bottom:0;"></span>


@using (Ajax.BeginForm("Add_Edit_Question", "InsertInfo"
                    , new AjaxOptions
                    {
                        InsertionMode = InsertionMode.ReplaceWith,
                        HttpMethod = "Post",
                        OnSuccess = "SuccessMessage"
                    }, new { @id = "frmQuestion" }))
{



    @Html.AntiForgeryToken()

    <div style="float:right; width:100%;margin-top:5%">


        <div class="editor-field" style="width:8%;">
            @Html.LabelFor(model => model.lst_strategy)
        </div>
        <div class="editor-field" style="width:20%;">
            @Html.DropDownListFor(model => model.strategy_id, new SelectList(Model.lst_strategy, "Value", "Text")
         , "----", new { @class = "textbox", id = "dropdown_strategy" })
        </div>

        <div class="editor-label" style="width:12%;">
            @Html.LabelFor(model => model.lst_dep_objective)
        </div>
        <div class="editor-field" style="width:20%;">
            @Html.DropDownListFor(model => model.dep_obj_id, new SelectList(Model.lst_dep_objective, "Value", "Text")
           ,"----" , new { @class = "textbox", id = "dropdown_dep_Objective" })
        </div>

        <div class="editor-label" style="width:7%;">
            @Html.LabelFor(model => model.lst_job_desc)
        </div>
        <div class="editor-field" style="width:20%;">
            @Html.DropDownListFor(model => model.job_desc_id, new SelectList(Model.lst_job_desc, "Value", "Text")
            ,"----", new { @class = "textbox", id = "dropdown_jobDesc" })
        </div>


    </div>
    
    <div style="float:right; width:100%;margin-top:2% ">

            <div class="editor-field" style="width:8%;">
                @Html.LabelFor(model => model.question)
            </div>

            <div class="editor-field" style="width:89%;">
                @Html.TextBoxFor(model => model.question, new { @class = "textbox", id = "txt_question" })
                @Html.ValidationMessageFor(model => model.question, "", new { @class = "error" })
            </div>
       </div>

    <div style="float:right; width:90%; margin:1% 8% 2% 0">
        <input type="hidden" name="count" value="1" id="count" />
        <div class="control-group" id="fields" >
            <div class="controls" id="profs">
                <div class="input-append" >
                    <div id="field" style=" float:right; width:25%">
                        <input autocomplete="off" class="txt_keyword" id="field1" name="field1" type="text" placeholder="کلیدواژه" data-items="8" />
                        <button id="b1" class="btn add-more" type="button" style="padding:0">+</button>
                    </div>
                </div>
                <br />
                <div class="editor-field" style="width:90%;">
                    برای افزودن کلیدواژه بیشتر بر روی + کلیک نمایید
                </div>
            </div>
        </div>
    </div>
    

        <div style="float:right; width:100%;">

            <div class="editor-field" style="width:8%;">
                @Html.LabelFor(model => model.solution)
            </div>

            <div class="editor-field" style="width:89%;">
                @Html.TextAreaFor(model => model.solution, new { @class = "multiline_textbox", id = "txt_solution"})
            </div>
        </div>

        <div style="float:right; width:100%; margin-bottom:3%">

            <div class="btn_add" style="margin-right:70%">
                <input type="submit" class="btn btn-primary" value="ثبت" />
            </div>

            <div class="btn_add">
                <input type="button" class="btn btn-primary" value="بازسازی" id="reset_btn" />
            </div>
        </div>
        @Html.HiddenFor(model => model.question_id, new { id = "hd_id_question" })

        <label class="alert-danger" id="alert_success"></label>
        }


        <table id="QuestionDT" class="display">
    <thead>
        <tr>
            <th>ID</th>
            <th>DepObj_Id</th>
            <th>JobDesc_Id</th>
            <th>Strategy_Id</th>
            <th class="dt-head-right">ردیف</th>
            <th class="dt-head-right">شرح مسئله</th>
            <th>Solution</th>
            <th>Keywords</th>
            <th>ویرایش</th>
            <th>حذف</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>

        @section scripts{
            <script src="~/Scripts/Datatables/QuestionDT.js"></script>
            <script src="~/Scripts/DynamicField.js"></script>

        }




