@model Knowledge_Management.Areas.User.ViewModels.NewSolutionViewModel
@{

    ViewBag.Title = "Enter Your Solution";
    Layout = "~/Areas/User/Views/Shared/_EmployeeLayout.cshtml";
}

@section HeadSection{
    <link href="~/Content/uploadify.css" rel="stylesheet" />
}

<!-- Modal -->
<div class="modal fade" id="DeleteModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content" id="confirm-container">

        </div>
    </div>
</div>
<!-- /end Modal -->

<div class="col-xs-11 col-xs-offset-1 top_buffer20 nopadding">

    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingOne">
                <h6 class="panel-title">
                    <a role="button" class="accordion-toggle" data-toggle="collapse" href="#collapseQuestion" aria-expanded="true" aria-controls="collapseOne">
                        <i class="glyphicon glyphicon-chevron-down indicator"></i>@Html.LabelFor(model => model.question, new { @class = "div_label" })

                    </a>
                </h6>
            </div>
            <div id="collapseQuestion" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                <div class="panel-body">
                    @Html.DisplayFor(model => model.question)
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingOne">
                <h6 class="panel-title">
                    <a role="button" class="accordion-toggle" data-toggle="collapse" href="#collapseSolution" aria-expanded="true" aria-controls="collapseOne">
                        <i class="glyphicon glyphicon-chevron-down indicator"></i>@Html.LabelFor(model => model.new_solution, new { @class = "div_label" })
                    </a>
                </h6>
            </div>
            <div id="collapseSolution" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                <div class="panel-body">
                    <div class="col-xs-12 top_buffer10">

                        <div class="alert alert-success" role="alert" style="display:none" id="div_alert">
                            <a href="#" class="close" id="close_alert">&times;</a>
                            <label id="alert_success"></label>
                        </div>
                    </div>

                    @using (Ajax.BeginForm("Add_New_Solution", "Solution"
                    , new AjaxOptions
                    {
                        InsertionMode = InsertionMode.ReplaceWith,
                        HttpMethod = "Post",
                        OnSuccess = "SuccessMessage"
                    }))
                    {
                        @Html.AntiForgeryToken()


                        @Html.HiddenFor(model => model.question_id, new { id = "hd_id_question" })
                        @Html.HiddenFor(model => model.new_solution_id, new { id = "hd_id_new_solution" })

                        <div class="col-xs-12 nopadding">
                            @Html.ValidationMessageFor(model => model.new_solution, "", new { @class = "error" })
                        </div>
                        <div class="col-xs-12 nopadding">

                            @Html.TextAreaFor(model => model.new_solution, new { @class = "multiline_textbox", id = "txt_new_solution", @placeholder = "Solution Description" })
                        </div>


                            <div class="col-xs-3 col-xs-offset-4 top_buffer20">
                                <input type="submit" class="btn btn-primary" value="Submit" />
                            </div>


                            <div class="col-xs-4 col-xs-offset-4 top_buffer20">
                                <input type="file" name="file_upload" id="file_upload" />
                            </div>
                    }
        <div class="col-xs-12 top_buffer10">
            <table id="UploadDT" class="display">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>FilePath</th>
                        <th>#</th>
                        <th>File Upload</th>
                        <th>Confirm Status</th>
                        <th>Download</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>

        </div>
    </div>
            </div>
        </div>


    </div>
</div>


    @section scripts{
        <script src="~/Areas/User/Scripts/UploadDT.js"></script>
        <script src="~/Areas/User/Scripts/jquery.uploadify.js"></script>
    }
