
@{
    ViewBag.Title = "Knowledge Management System";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}

@section HeadSection{
    <link href="~/Content/style_login.css" rel="stylesheet" />
}

<div class="container">
    <div class="row">
        <div class="col-xs-12 top_buffer10">

            <div id="pnl_main">
                <div class="col-xs-3">
                    @Html.BootstrapButton("About the<br />Knowledge Management<br />System", "btn-home red_box showAbout")

                </div>

                <div class="col-xs-3 col-xs-offset-1">
                    @Html.BootstrapButton("Login to <br />Knowledge Management<br />System", "btn-home yellow_box showlogin")
                </div>

                <div class="col-xs-3 col-xs-offset-1">
                    @Html.BootstrapButton("Contact Us<br />for More Information", "btn-home green_box showContact")
                </div>
            </div>          


            </div>
        <div class="col-xs-4 col-xs-offset-4">
            <div id="pnl_login" class="hidden">
                @Html.Partial("_LoginPartial")
            </div>
        </div>

        <div class="col-xs-10  ">
            <div id="pnl_about" class="hidden">
                @Html.Partial("_AboutPartial")
            </div>
        </div>

        <div class="col-xs-10 ">
            <div id="pnl_contact" class="hidden">
                @Html.Partial("_ContactPartial")
            </div>
        </div>

        </div>
    </div>
      
