@model Knowledge_Management.Areas.User.ViewModels.ProfileViewModel

@{
    ViewBag.Title = "Personal Profile";
    Layout = "~/Areas/User/Views/Shared/_EmployeeLayout.cshtml";
}

<div class="col-xs-12 top_buffer10">
    <div class="alert alert-success" role="alert" id="div_alert" style="display:none">
        <a href="#" class="close" id="close_alert">&times;</a>
        <label id="alert_success"></label>
    </div>
</div>

@using (Ajax.BeginForm("ChangeProfile", "EmployeeProfile"
                    , new AjaxOptions
                    {
                        HttpMethod = "Post",
                        OnSuccess = "Success_ProfileChange"
                    }))
    {

    @Html.AntiForgeryToken()
    <div class="col-xs-6 col-xs-offset-3 top_buffer10">
        <div class="profile-form">
            @Html.HiddenFor(model => model.pk_emp)
            <div class="col-xs-12">
                <div class="col-xs-3 nopadding top_buffer10">
                    @Html.LabelFor(model => model.firstName, new { @class = "div_lable" })
                </div>
                <div class="col-xs-9 nopadding">
                    @Html.TextBoxFor(u => u.firstName, new { @class = "form-control", @placeholder = "First Name" })
                </div>
            </div>

            <div class="col-xs-12 top_buffer20">
                <div class="col-xs-3 nopadding top_buffer10">
                    @Html.LabelFor(model => model.lastName, new { @class = "div_lable" })
                </div>
                <div class="col-xs-9 nopadding">
                    @Html.TextBoxFor(u => u.lastName, new { @class = "form-control", @placeholder = "Last Name" })
                </div>
             </div>

            <div class="col-xs-12 top_buffer20">
                <div class="col-xs-3 nopadding top_buffer10">
                    @Html.LabelFor(model => model.passWord, new { @class = "div_lable" })
                </div>
                <div class="col-xs-9 nopadding">
                    @Html.PasswordFor(u => u.passWord, new { @class = "form-control", @placeholder = "Password" })
                </div>
            </div>
            <div class="col-xs-6 col-xs-offset-4 top_buffer20">
                <input type="submit" class="btn btn-primary" value="Submit" />
            </div>
        </div>
    </div>
    }
